<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mechanit.mechanitdroidapp" >
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="MechanIT"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="MechanIT" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditSettings"
            android:label="@string/title_activity_edit_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mechanit.mechanitdroidapp.MainActivity" />
        </activity>
        <activity
            android:name=".ViewUserInfo"
            android:label="@string/title_activity_view_user_info"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mechanit.mechanitdroidapp.MainActivity" />
        </activity>
        <activity
            android:name=".SyncData"
            android:label="@string/title_activity_sync_data"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mechanit.mechanitdroidapp.MainActivity" />
        </activity>
    </application>

</manifest>
